In [34]:
#! pip install oracledb

username = "ora_shrutivs"
pw = "a55121776"

import oracledb
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt
import numpy as np

dsn = oracledb.makedsn("localhost", 1522, service_name="stu")
connection = oracledb.connect(user=username, password=pw, dsn=dsn)

In [35]:
def generate_df(lst, name, cols):
    """
    lst: empty list for each dataframe
    
    name: name of table in schema (str)
    
    cols: list of column names for table
    """
    cur = connection.cursor()
    cur.execute(f"select * from {name}")
    res = cur.fetchall()
    for row in res:
        lst.append(row)
    cur.close()
    lst_df = pd.DataFrame(lst, columns = cols)
    return lst_df

In [36]:
continent_df = generate_df([], "Continent", ["continentName", "code"])
country_df = generate_df([], "Country", ["name", "continentName", "ISO3"])
sea_level_df = generate_df([], "SeaLevel", ["SealevelYear", "continentName", "unit", "GMSL"])
ghg_emission_df = generate_df([], "GHGEmission", ["ghgYear","unit"])
temperature_df = generate_df([], "Temperature", ["year", "ghgYear","unit"])
industry_df = generate_df([], "Industry", ["industryName"])
emitted_df = generate_df([], "Emitted", ["continentName", "ghgYear", "co2concentration"])
produces_df = generate_df([], "Produces", ["ghgYear", "industryName",  "totalco2concentration"])
temp_change_df = generate_df([], "TempChange", ["countryName", "year", "ghgYear", "temperature"])

In [37]:
# Dictionary of dataframes
dfs = {
    'Produces': produces_df,
    'Continent': continent_df,
    'Country': country_df,
    'GHG Emission': ghg_emission_df,
    'Industry': industry_df,
    'Sea Level': sea_level_df,
    'Emitted': emitted_df,
    'Temp Change': temp_change_df,
    'Temperature': temperature_df
}

# Display dataframes to ensure data was loaded properly
for name, df in dfs.items():
    print(f"{name}")
    print(df.head())

Produces
  ghgYear                                       industryName  \
0  2010Q1                  Agriculture, Forestry and Fishing
1  2010Q1                                       Construction
2  2010Q1  Electricity, Gas, Steam and Air Conditioning S...
3  2010Q1                                      Manufacturing
4  2010Q1                                             Mining

   totalco2concentration
0               34175.16
1                3919.65
2               64387.33
3               48376.39
4               20071.35
Continent
        continentName    code
0                 G20   NA120
1       Southern Asia    NASA
2        Eastern Asia   NA510
3            Americas  AMETMP
4  South-eastern Asia   NASEA
Country
          name continentName ISO3
0       Israel  Western Asia  ISR
1      Austria        Europe  AUT
2  Isle of Man        Europe  IMN
3   Seychelles        Africa  SYC
4      Somalia        Africa  SOM
GHG Emission
  ghgYear                                   unit
0  2020Q4  Million metric tons of CO2 equivalent
1  2010Q3  Million metric tons of CO2 equivalent
2  2013Q4  Million metric tons of CO2 equivalent
3  2012Q4  Million metric tons of CO2 equivalent
4  2017Q2  Million metric tons of CO2 equivalent
Industry
                                        industryName
0                  Agriculture, Forestry and Fishing
1                                       Construction
2  Electricity, Gas, Steam and Air Conditioning S...
3                                      Manufacturing
4                                             Mining
Sea Level
   SealevelYear continentName unit   GMSL
0          1993         World   mm -34.61
1          1994         World   mm -30.95
2          1995         World   mm -28.65
3          1996         World   mm -26.60
4          1997         World   mm -22.68
Emitted
        continentName ghgYear  co2concentration
0  Advanced Economies  2010Q1          31192.12
1  Advanced Economies  2010Q2          29745.61
2  Advanced Economies  2010Q3          30135.84
3  Advanced Economies  2010Q4          31396.50
4  Advanced Economies  2011Q1          31369.16
Temp Change
  countryName  year ghgYear  temperature
0     Albania  2010  2010Q1         1.19
1     Albania  2010  2010Q2         1.19
2     Albania  2010  2010Q3         1.19
3     Albania  2010  2010Q4         1.19
4     Algeria  2010  2010Q1         2.26
Temperature
   year ghgYear            unit
0  2014  2014Q4  Degree Celsius
1  2010  2010Q1  Degree Celsius
2  2013  2013Q2  Degree Celsius
3  2018  2018Q1  Degree Celsius
4  2011  2011Q1  Degree Celsius

In [38]:
# Perform EDA for each dataframe
def eda(df, df_name):
    print(f"EDA for {df_name}:\n")

    # Descriptive Statistics
    print("Descriptive Statistics:")
    print(df.describe(), '\n')
    
    # Check for missing values
    print("Missing Values:")
    print(df.isnull().sum(), '\n')

    # Analyze unique values in categorical columns
    for column_name, data_type in df.select_dtypes(include=['object', 'category']).items():
        unique_count = data_type.nunique()
        print(f"Unique values in {column_name}: {unique_count}")

    # Separator
    print("--------------------------")
        
for name, df in dfs.items():
    eda(df, name)

EDA for Produces:

Descriptive Statistics:
       totalco2concentration
count             540.000000
mean            49609.572796
std             68944.803789
min              3844.570000
25%             11827.437500
50%             23571.280000
75%             53007.375000
max            269678.490000

Missing Values:
ghgYear                  0
industryName             0
totalco2concentration    0
dtype: int64

Unique values in ghgYear: 54
Unique values in industryName: 10
--------------------------
EDA for Continent:

Descriptive Statistics:
       continentName   code
count             25     25
unique            25     25
top              G20  NA120
freq               1      1

Missing Values:
continentName    0
code             0
dtype: int64

Unique values in continentName: 25
Unique values in code: 25
--------------------------
EDA for Country:

Descriptive Statistics:
          name continentName ISO3
count      172           172  172
unique     172            17  172
top     Israel        Africa  ISR
freq         1            34    1

Missing Values:
name             0
continentName    0
ISO3             0
dtype: int64

Unique values in name: 172
Unique values in continentName: 17
Unique values in ISO3: 172
--------------------------
EDA for GHG Emission:

Descriptive Statistics:
       ghgYear                                   unit
count       54                                     54
unique      54                                      1
top     2020Q4  Million metric tons of CO2 equivalent
freq         1                                     54

Missing Values:
ghgYear    0
unit       0
dtype: int64

Unique values in ghgYear: 54
Unique values in unit: 1
--------------------------
EDA for Industry:

Descriptive Statistics:
                             industryName
count                                  10
unique                                 10
top     Agriculture, Forestry and Fishing
freq                                    1

Missing Values:
industryName    0
dtype: int64

Unique values in industryName: 10
--------------------------
EDA for Sea Level:

Descriptive Statistics:
       SealevelYear       GMSL
count     29.000000  29.000000
mean    2007.000000   5.463103
std        8.514693  26.812275
min     1993.000000 -34.610000
25%     2000.000000 -18.430000
50%     2007.000000   1.490000
75%     2014.000000  24.850000
max     2021.000000  50.030000

Missing Values:
SealevelYear     0
continentName    0
unit             0
GMSL             0
dtype: int64

Unique values in continentName: 1
Unique values in unit: 1
--------------------------
EDA for Emitted:

Descriptive Statistics:
       co2concentration
count       1350.000000
mean       19843.829119
std        26664.740740
min           33.170000
25%         2172.782500
50%         6871.615000
75%        22836.900000
max       108319.730000

Missing Values:
continentName       0
ghgYear             0
co2concentration    0
dtype: int64

Unique values in continentName: 25
Unique values in ghgYear: 54
--------------------------
EDA for Temp Change:

Descriptive Statistics:
              year  temperature
count  8520.000000  8520.000000
mean   2015.978873     1.194850
std       3.743887     0.537388
min    2010.000000    -1.300000
25%    2013.000000     0.830000
50%    2016.000000     1.150000
75%    2019.000000     1.490000
max    2022.000000     3.690000

Missing Values:
countryName    0
year           0
ghgYear        0
temperature    0
dtype: int64

Unique values in countryName: 167
Unique values in ghgYear: 52
--------------------------
EDA for Temperature:

Descriptive Statistics:
              year
count    52.000000
mean   2016.000000
std       3.778162
min    2010.000000
25%    2013.000000
50%    2016.000000
75%    2019.000000
max    2022.000000

Missing Values:
year       0
ghgYear    0
unit       0
dtype: int64

Unique values in ghgYear: 52
Unique values in unit: 1
--------------------------